* {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}
